.esconder{
	display: none;
}

.avatar{
	width: 140px;
	height: 140px;
	border: 1px solid #000;
}

.ac-box{
	width: 140px;
	height: 140px;
	border: 1px solid #bbb;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.ac-box:hover{
	border: 1px solid #000;
}

.ac-selected{
	border: 1px solid #000;
}

#avatar div{
	width: 140px;
	height: 140px;
	border: 0;
	position: absolute;
}

.bg-01{background: url(images/backgrounds.png) 0 0 no-repeat; }
.bg-02{background: url(images/backgrounds.png) -140px 0 no-repeat; }
.bg-03{background: url(images/backgrounds.png) -280px 0 no-repeat; }
.bg-04{background: url(images/backgrounds.png) -420px 0 no-repeat; }
.bg-05{background: url(images/backgrounds.png) 0 -140px no-repeat; }
.bg-06{background: url(images/backgrounds.png) -140px -140px no-repeat; }
.bg-07{background: url(images/backgrounds.png) -280px -140px no-repeat; }
.bg-08{background: url(images/backgrounds.png) -420px -140px no-repeat; }
.bg-09{background: url(images/backgrounds.png) 0 -280px no-repeat; }
.bg-10{background: url(images/backgrounds.png) -140px -280px no-repeat; }
.bg-11{background: url(images/backgrounds.png) -280px -280px no-repeat; }
.bg-12{background: url(images/backgrounds.png) -420px -280px no-repeat; }
.bg-13{background: url(images/backgrounds.png) 0 -420px no-repeat; }
.bg-14{background: url(images/backgrounds.png) -140px -420px no-repeat; }
.bg-15{background: url(images/backgrounds.png) -280px -420px no-repeat; }
.bg-16{background: url(images/backgrounds.png) -420px -420px no-repeat; }


.face-01{background: url(images/faces.png) 0 0 no-repeat; }
.face-02{background: url(images/faces.png) -140px 0 no-repeat; }
.face-03{background: url(images/faces.png) -280px 0 no-repeat; }
.face-04{background: url(images/faces.png) 0 -140px no-repeat; }
.face-05{background: url(images/faces.png) -140px -140px no-repeat; }
.face-06{background: url(images/faces.png) -280px -140px no-repeat; }
.face-07{background: url(images/faces.png) 0 -280px no-repeat; }
.face-08{background: url(images/faces.png) -140px -280px no-repeat; }
.face-09{background: url(images/faces.png) -280px -280px no-repeat; }


.olho-01{background: url(images/olhos.png) 0 0 no-repeat; }
.olho-02{background: url(images/olhos.png) -140px 0 no-repeat; }
.olho-03{background: url(images/olhos.png) -280px 0 no-repeat; }
.olho-04{background: url(images/olhos.png) 0 -140px no-repeat; }
.olho-05{background: url(images/olhos.png) -140px -140px no-repeat; }
.olho-06{background: url(images/olhos.png) -280px -140px no-repeat; }
.olho-07{background: url(images/olhos.png) 0 -280px no-repeat; }
.olho-08{background: url(images/olhos.png) -140px -280px no-repeat; }
.olho-09{background: url(images/olhos.png) -280px -280px no-repeat; }

.nariz-01{background: url(images/narizes.png) 0 0 no-repeat; }
.nariz-02{background: url(images/narizes.png) -140px 0 no-repeat; }
.nariz-03{background: url(images/narizes.png) -280px 0 no-repeat; }
.nariz-04{background: url(images/narizes.png) -420px 0 no-repeat; }

.boca-01{background: url(images/bocas.png) 0 0 no-repeat; }
.boca-02{background: url(images/bocas.png) -140px 0 no-repeat; }
.boca-03{background: url(images/bocas.png) -280px 0 no-repeat; }
.boca-04{background: url(images/bocas.png) -420px 0 no-repeat; }
.boca-05{background: url(images/bocas.png) -560px 0 no-repeat; }
.boca-06{background: url(images/bocas.png) -700px 0 no-repeat; }

.cabelo-01{background: url(images/cabelos.png) 0 0 no-repeat; }
.cabelo-02{background: url(images/cabelos.png) -140px 0 no-repeat; }
.cabelo-03{background: url(images/cabelos.png) -280px 0 no-repeat; }
.cabelo-04{background: url(images/cabelos.png) 0 -140px no-repeat; }
.cabelo-05{background: url(images/cabelos.png) -140px -140px no-repeat; }
.cabelo-06{background: url(images/cabelos.png) -280px -140px no-repeat; }
.cabelo-07{background: url(images/cabelos.png) 0 -280px no-repeat; }
.cabelo-08{background: url(images/cabelos.png) -140px -280px no-repeat; }
.cabelo-09{background: url(images/cabelos.png) -280px -280px no-repeat; }

.roupa-01{background: url(images/roupas.png) 0 0 no-repeat; }
.roupa-02{background: url(images/roupas.png) -140px 0 no-repeat; }
.roupa-03{background: url(images/roupas.png) -280px 0 no-repeat; }
.roupa-04{background: url(images/roupas.png) 0 -140px no-repeat; }
.roupa-05{background: url(images/roupas.png) -140px -140px no-repeat; }
.roupa-06{background: url(images/roupas.png) -280px -140px no-repeat; }
.roupa-07{background: url(images/roupas.png) 0 -280px no-repeat; }
.roupa-08{background: url(images/roupas.png) -140px -280px no-repeat; }
.roupa-09{background: url(images/roupas.png) -280px -280px no-repeat; }

.acessorio-01{background: url(images/acessorios.png) 0 0 no-repeat; }
.acessorio-02{background: url(images/acessorios.png) -140px 0 no-repeat; }
.acessorio-03{background: url(images/acessorios.png) -280px 0 no-repeat; }